.navMenu {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.navMenu a {
  color: grey;
  text-decoration: none;
  font-size: 1.0em;
  font-weight: 100;
  display: inline-block;
  width: 60px;
  text-align: center;
}

.navMenu a:hover {
  color: blue;
}

.main-menu-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.main-menu{
  max-width: 1000px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}

.main-menu .section{
  display: grid;
  grid-template-columns: 30px max-content max-content max-content;
  gap: 10px;
  padding: 5px;
  align-items: center;
}

.main-menu .section:nth-child(even) {
  background: rgb(243, 243, 243);
}

.main-menu .section:hover{
  background: rgb(132, 200, 255);
  cursor: pointer;
}

.main-menu .section img{
  width: 30px;
}

.main-menu .section #title{
  color: blue;
}

.main-menu .section p{
  color: rgb(110, 110, 110);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .main-menu{
    width: 95%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .main-menu .section p{
    font-size: 12px;
  }  
}


.about {
  margin: auto;
  max-width: 700px;
  padding-top: 100px;
  font-size: 15px;
  text-align: center;
}

.myfont {
  
  font-family: 'Noto Sans Sinhala', sans-serif;
}
